# .gitignore file for relation_extractor
__pycache__
.DS_Store

# virtualenv folders
bin/
include/
lib/
share/

# NLTK data
resources/nltk_data

# Word embeddings
resources/embeddings

# Output
output/*