# .gitignore file for relation_extractor
__pycache__
.DS_Store

# virtualenv folders
.venv/

# IDEs
.idea/
.vscode/

# NLTK data
resources/nltk_data

# Word embeddings
resources/embeddings

# Output
output/