# .gitignore file for 'relation_extractor'

# Python files (__pycache__, PyPi etc.)
__pycache__

# Virtual environments
.venv/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store

# NLTK data
resources/nltk_data

# Word embeddings
resources/embeddings

# Output
output/